body{
  background-color:#DDBEA9;
  padding:0px;
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color:#B7B7A4;
}
a:visited{
  color:#A5A58D;
}
hr{
  padding:0px;
  margin-top:0px;
  color:#CB997E;
}
.subtle{
  padding:0px;
  margin-top:0px;
  color:#F0EFEB;
}
h3{
  padding:0px;
  margin:0px;
}
.btm{
  position: absolute;
  height:10vh;
  width:10vw;
  top:90vh;
  left:0vw;
}
td,tr{
  padding:0px;
  margin:0px;
}
td{
  font-size: x-large;
  text-align: center;
  width:30vw;
  height:30vw;
}
/* !For Tablets */
@media only screen and (min-width: 600px){

}
/* !For Desktop  */
@media only screen and (min-width: 768px){

}